@mainColor: #ea862e;
.error-text{
    color: red;
    text-align: center;
    padding-top: 5px!important;
}
.input-valid{
    border: 1px solid green;
    border-color: green!important;
}
// input:valid{
//     border: 1px solid green;
//     border-color: green!important;
// }
// input:invalid{
//     border: 1px solid red;
//     border-color: red!important;
// }
.input-invalid{
    border: 1px solid red;
    border-color: red!important;
}
.order-page{
  padding-top: 70px;
}
.form-description{
    font-size: 20px;
    padding-bottom: 10px;
}
.bs-callout{
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;  
    border-radius: 3px;
    background-color: #fff;
    border-left-color: #ec890e!important;
}

.next-step-wrap {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.google-maps{
    padding-left: 50px;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    margin-top: 10px;
}
