.general-container {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
	/* justify-content: center; */
	/* align-content: center; */

    padding-top: 100px;
    max-width: 100%!important;    
    height: 100%!important;
}

.goods-column {
    width: 69%!important;
    max-height: 60%!important;
    min-width: 400px;

    padding-left: 1%;
    padding-right: 0px; 
    background-color: burlywood;
    
}

.basket-column {
    width: 29%!important;
    min-width: 200px;
    max-height: 60%!important;
    
    padding-right: 1%;
    padding-left: 0px;
    background-color: mediumseagreen;
}

.basket-column, .goods-column {
    /* padding: 1%; */
}

html, body {
    height: 100%;
}

