.goods-column {
    width: 50%!important;
    min-width: 500px;
    max-width: 950px;
    padding-right: 6%; 
    padding-left: 0px;
    height: 100%!important;  
    
    
}

.goods-main-panel {
    height: 100%!important;  
    background-color: #FFF;
    
}

.goods-add-panel {
    padding: 1em;
    height: 40px!important;
}

.goods-add-form {
    
    min-height: 50px!important;

    height: 100%!important;
    
}

.input-form {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 40px;
}

input {
    width: 75%;
    height: 40px;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    /*  */
    padding-left: 2%;
    padding-top: 0px;
    padding-bottom: 0;
    margin:0px;
    outline: 0px;


    border: 1px solid rgba(34,36,38,.15);
    border-right-color: transparent!important;
}

.shaded-button {
    width: 22%;
    height: 33px;

    text-align: center;
    flex: 0 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: .71428571rem;

    overflow: visible;

    background: linear-gradient(transparent,rgba(0,0,0,.05)) #F8F8F8;

    outline: 0px;
    border: none;

    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset,
        0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}

.white-font {
    color: #FFF;
}

.add-button {
    background-color: rgb(33, 133, 208);
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;

    height: 42px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 6px;
    padding-top: 9px;
    
}

input, button {
    min-height: 1em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

